<appSettings>
  <add key="FacebookAppId" value="379146242770081" />
  <add key="FacebookAppSecret" value="08d884c19b0b611e7b69de99b4c0a3c9" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>